logic/X12ToFHIR/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "CanSendToFhir": {
                "actions": {
                    "PostBundle": {
                        "inputs": {
                            "authentication": {
                                "audience": "@parameters('FhirUrl')",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": "@variables('FhirOutput')",
                            "headers": {
                                "Content-Type": "application/json"
                            },
                            "method": "POST",
                            "uri": "@parameters('FhirUrl')"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@variables('FhirOutput')",
                                    ""
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Switch": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "InitFhirOutput": {
                "inputs": {
                    "variables": [
                        {
                            "name": "FhirOutput",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "SetMessageType": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Response": {
                "inputs": {
                    "body": "@variables('FhirOutput')",
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "CanSendToFhir": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            },
            "SetMessageType": {
                "inputs": {
                    "variables": [
                        {
                            "name": "MessageType",
                            "type": "string",
                            "value": "@{triggerOutputs()['queries']['messageType']}"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Switch": {
                "cases": {
                    "835": {
                        "actions": {
                            "835ToFhir": {
                                "inputs": {
                                    "content": "@triggerBody()",
                                    "map": {
                                        "name": "x12-835-FHIR.liquid",
                                        "source": "LogicApp"
                                    }
                                },
                                "kind": "XmlToJson",
                                "runAfter": {},
                                "type": "Liquid"
                            },
                            "SetFhirOutput835": {
                                "inputs": {
                                    "name": "FhirOutput",
                                    "value": "@{json(replace(string(body('835ToFhir')), '<DECODED_X12_XML_BASE64>', base64(string(triggerBody()))))}"
                                },
                                "runAfter": {
                                    "835ToFhir": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "case": "835"
                    },
                    "837p": {
                        "actions": {
                            "837pToFhir": {
                                "inputs": {
                                    "content": "@triggerBody()",
                                    "map": {
                                        "name": "x12-837p-FHIR.liquid",
                                        "source": "LogicApp"
                                    }
                                },
                                "kind": "XmlToJson",
                                "runAfter": {},
                                "type": "Liquid"
                            },
                            "SetFhirOutput837p": {
                                "inputs": {
                                    "name": "FhirOutput",
                                    "value": "@{json(replace(string(body('837pToFhir')), '<DECODED_X12_XML_BASE64>', base64(string(triggerBody()))))}"
                                },
                                "runAfter": {
                                    "837pToFhir": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "SetVariable"
                            }
                        },
                        "case": "837p"
                    }
                },
                "default": {
                    "actions": {}
                },
                "expression": "@variables('MessageType')",
                "runAfter": {
                    "InitFhirOutput": [
                        "Succeeded"
                    ]
                },
                "type": "Switch"
            },
            "Unhandled": {
                "inputs": {
                    "body": "@variables('FhirOutput')",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "statusCode": 500
                },
                "kind": "http",
                "runAfter": {
                    "Response": [
                        "SKIPPED",
                        "FAILED",
                        "TIMEDOUT"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "method": "POST"
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateful"
}